@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  padding: 0 15px;
}

h1{
  margin: 45px 0;
  font-size: 85px;
  font-family: 'Raleway';
}

h2{
  font-size: 45px;
  font-family: 'Raleway';
  padding: 85px 0;
}

button{
  width: 190px;
  height: 75px;
  border: 0.5px #000 solid;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #fff;
  font-size: 35px;
  box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  font-family: 'Raleway';
  /* transition: 1s ease all; */
}

button:active {
  box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0);

  transform: translateY(4px);
  /* transition: all 0.2s ease; */
}

.center{
  text-align: center;
}

p{
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Raleway';

}